#home-image{
    width: 400px;
    height: 400px;
}

small a {
    color: #c33e3f
}
/* 
.background-black {
    background-color: black;
    color:white
}

.background-white {
    background-color: white;
    color:black
} */