.lesson-card {
    background-color: coral;
    border: 10px groove darkturquoise;
    padding: px;
    width: 350px;
    margin: 10px 0 5px 0;
    


}

.lesson-card h5 {
    text-align: center;
}

.lesson-card ::marker {
    list-style-type: none;
}