.lesson-card {
    background-color: gold;
    border: 10px groove royalblue;
    border-radius: 30px;
    padding: 15px;
    width: 350px;
    margin: 10px 0 5px 0;
}

.lesson-card h5 {
    text-align: center;
    background: white;
    padding: 1em;
    margin-bottom: 1.3em;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

ul {
    width: 100%;
    column-count: 2;
    column-gap: 80px ;
    align-content: center;
}



input {
  background-color: white;
  color: royalblue;
  border: 3px solid royalblue;
  border-radius: 30px;
  padding: 0 10px;
  width: 40%;
  margin: 10px;
 
}


.form {
    color: royalblue;
    background-color: gold;
    border-radius: 30px;
    border: 10px solid royalblue;
    margin: 10px;
    padding: 50px 50px 50px 50px;
}