.lesson-card {
    background-color: gold;
    border: 10px groove royalblue;
    border-radius: 30px;
    padding: 15px;
    width: 350px;
    margin: 10px 0 5px 0;
    


}

.lesson-card h5 {
    text-align: center;
}

.lesson-card ::marker {
    list-style-type: none;
}

ul {
    width: 100%;
    margin: auto;
}